<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      
      <class name="qaclickacademy.Mavenjava.APITest"/>
      <class name="qaclickacademy.Mavenjava.SeleniumTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

<!-- regression is where all tc needs to be run, smoke is where only few needs to be run -->